# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Tool caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Testing/Local/Experimentation
.coverage
htmlcov/
scratch/
tmp/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*
!.env.example

# Build artifacts
build/
dist/
*.egg-info/

# Data
data/*

# MLflow
artifacts/
artifacts_local/
tracking/mlflow.db
tracking_local/mlflow.db
