# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Tool caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Testing/Local/Experimentation
.coverage
htmlcov/
scratch/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Data
data/*
